:root {
  --container-color: #0a0c1b;
  --main-color: #1c1938;
  --main-p-color: rgb(197, 197, 197);
  --main-heading-color: rgb(255, 255, 255);
  --main-duration: 0.5s;
}
body {
  background-color: #f0f0f0;
  height: 98vh;
  width: 98vw;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card {
  background-color: var(--main-color);
  width: 70vw;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: "info pic" ;
  border-color: var(--container-color);
  border-style: solid;
  border-width: 10vh;
}
@media (max-width:720px) {
    .card {
        height: 70vw;
        width: 70vh;
        grid-template-areas: "info" "pic" ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }

}
.info {
    background-color: yellow;
    grid-area: "info";
}
.pic {
    background-color: greenyellow;
    grid-area: pic;
}
